.profile__container {
  width: 100vw;
  background-color: rgb(38, 36, 36);
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.profile__header {
  display: flex;
  align-items: center;
}
.profile__picture {
  width: 370px;
  height: 370px;
  border-radius: 50%;
  margin-right: 40px;
}

.profile__info h1,
.profile__info h2 {
  margin: 0;
  font-size: 40px;
}

.profile__info h2 {
  border-radius: 10px;
  padding: 5px;
  font-size: 30px;
  color: rgb(38, 36, 36);
}

.profile__info p {
  margin: 10px 0;
  font-size: 27px;
  color: grey;
}
